bcrypt==3.2.2
fastjsonschema==2.19.0
Flask==3.1.0
Flask-JWT-Extended==4.7.1
lxml==5.2.1
numpy==1.26.4
opencv-python==4.11.0.86
pillow==10.2.0
pymongo==3.11.0
python-dotenv==1.0.1
scikit-image==0.24.0
scikit-learn==1.6.1
selenium==4.28.1
setuptools==68.1.2
Flask-Cors==5.0.0
APScheduler==3.11.0